In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    database='company',
    user='root',
    password='breach'
)
if conn.is_connected():
    print('db connection successfully')
else:
    print('error occurred in connecting to DB')

db connection successfully

In [2]:
# create table employee
cursor = conn.cursor()
try:
    cursor.execute('''
    CREATE TABLE `company`.`Employee` (
      `employee_id` INT NOT NULL AUTO_INCREMENT,
      `first_name` VARCHAR(100) NULL,
      `last_name` VARCHAR(100) NULL,
      `email` VARCHAR(45) NULL,
      `phone` VARCHAR(45) NULL,
      `hire_date` DATETIME NULL,
      `job_id` VARCHAR(45) NULL,
      `salary` INT NULL,
      `manager_id` VARCHAR(45) NULL,
      `department_id` VARCHAR(45) NULL,
      PRIMARY KEY (`employee_id`));
    ''')
    conn.commit()
    print('Employee table created successful')
except mysql.connector.Error as error:
    print("Error Occurred", error)
finally:
    pass
    # conn.close()

Error Occurred 1050 (42S01): Table 'Employee' already exists

In [3]:
# create table department
cursor = conn.cursor()
try:
    cursor.execute('''
    CREATE TABLE `company`.`Department` (
      `department_id` INT NOT NULL AUTO_INCREMENT,
      `department_name` VARCHAR(45) NULL,
      `location_id` VARCHAR(45) NULL,
      PRIMARY KEY (`department_id`));
    ''')
    conn.commit()
    print('Department table created successful')
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass
    # cursor.close()

Error Occurred  1050 (42S01): Table 'Department' already exists

In [4]:
# create table jobs
cursor = conn.cursor()
try:
    cursor.execute('''
    CREATE TABLE `company`.`Jobs` (
      `job_id` INT NOT NULL AUTO_INCREMENT,
      `job_title` VARCHAR(45) NULL,
      `min_salary` INT NULL,
      `max_salary` INT NULL,
      PRIMARY KEY (`job_id`));
    ''')
    conn.commit()
    print('Jobs table created successful')
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass

Error Occurred  1050 (42S01): Table 'Jobs' already exists

In [5]:
# insert data into the employee table

employee_data = [
    ('Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', '2009-02-12 04:55:25', '5', 3, '4', '5'),
    (
    'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', '1985-04-29 07:30:10', '5', 6, '7', '4'),
    ('Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', '2000-05-09 22:59:22', '8', 6, '1', '8'),
    ('Petra', 'Haag', 'celine69@example.net', '666.309.5779', '1999-11-11 07:22:11', '4', 6, '3', '5'),
    ('Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', '1974-08-02 01:19:26', '9', 6, '8', '3'),
    ('Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', '2020-08-08 15:50:13', '2', 4, '2', '5'),
    ('Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', '2008-10-12 13:10:02', '1', 4, '7', '9'),
    ('Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', '2006-01-31 01:11:47', '4', 5, '6', '5'),
    ('Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', '2020-10-20 04:02:06', '4', 4, '8', '5'),
    ('Ferne', 'Shields', 'amante@example.net', '04025586949', '1997-09-17 23:19:52', '4', 1, '5', '4')
]
cursor = conn.cursor()
employee_insert_sql = '''
INSERT INTO `company`.`Employee`
(`first_name`,
`last_name`,
`email`,
`phone`,
`hire_date`,
`job_id`,
`salary`,
`manager_id`,
`department_id`)
VALUES
(%s,%s,%s,%s,%s,%s,%s,%s,%s);
'''
try:
    cursor.executemany(employee_insert_sql, employee_data)
    print(cursor.rowcount, " Records inserted into employee table")
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass

10  Records inserted into employee table

In [6]:
# insert data into the department table
department_data = [
    ('mesh B2C paradigms', '9'),
    ('incubate e-business users', '3'),
    ('aggregate dynamic models', '7'),
    ('morph rich architectures', '9'),
    ('facilitate plug-and-play systems', '2'),
    ('generate real-time webservices', '2'),
    ('repurpose world-class niches', '9'),
    ('matrix distributed architectures', '1'),
    ('expedite robust vortals', '3'),
    ('incubate leading-edge bandwidth', '4')
]

department_insert_sql = '''
INSERT INTO `company`.`Department`
(`department_name`,
`location_id`)
VALUES
(%s,%s);
'''

try:
    cursor.executemany(department_insert_sql, department_data)
    print(cursor.rowcount, " Records inserted into department table")
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass

10  Records inserted into department table

In [7]:
# insert data into jobs table
jobs_data = [
    ('Armstrong Klein', 103, 7129),
    ('Roberts Funk and Kovacek', 962, 5986),
    ('Haag Gutmann', 424, 6584),
    ('Sporer Koelpin and Graham', 961, 4713),
    ('Dooley and Sons', 239, 5474),
    ('Smitham Mohr and Jast', 233, 4251),
    ('Swaniawski Wilkinson and Ritchie', 110, 7554),
    ('Aufderhar and Sons', 527, 9489),
    ('Mann Ltd', 279, 1146),
    ('Fadel LLC', 513, 1761)
]
cursor = conn.cursor()
jobs_insert_sql = '''
INSERT INTO `company`.`Jobs`
(`job_title`,
`min_salary`,
`max_salary`)
VALUES(
%s,%s,%s);
'''

try:
    cursor.executemany(jobs_insert_sql, jobs_data)
    print(cursor.rowcount, " Records inserted into Jobs table")
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass

10  Records inserted into Jobs table

In [8]:
# fetch data in employee table
try:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Employee;')
    employees = cursor.fetchall()
    print(cursor.rowcount, " Employee (rows) fetched")
    for employee in employees:
        print(employee)
except mysql.connector.Error as error:
    print("Error Occurred ", error)

40  Employee (rows) fetched
(1, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5')
(2, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4')
(3, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8')
(4, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5')
(5, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3')
(6, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5')
(7, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9')
(8, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5')
(9, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5')
(10, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4')
(11, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5')
(12, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4')
(13, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8')
(14, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5')
(15, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3')
(16, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5')
(17, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9')
(18, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5')
(19, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5')
(20, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4')
(21, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5')
(22, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4')
(23, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8')
(24, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5')
(25, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3')
(26, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5')
(27, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9')
(28, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5')
(29, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5')
(30, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4')
(31, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5')
(32, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4')
(33, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8')
(34, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5')
(35, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3')
(36, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5')
(37, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9')
(38, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5')
(39, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5')
(40, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4')

In [9]:
# fetch data in department table
try:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Department;')
    departments = cursor.fetchall()
    print(cursor.rowcount, " Departments (rows) fetched")
    for department in departments:
        print(department)
except mysql.connector.Error as error:
    print("Error Occurred ", error)

20  Departments (rows) fetched
(1, 'mesh B2C paradigms', '9')
(2, 'incubate e-business users', '3')
(3, 'aggregate dynamic models', '7')
(4, 'morph rich architectures', '9')
(5, 'facilitate plug-and-play systems', '2')
(6, 'generate real-time webservices', '2')
(7, 'repurpose world-class niches', '9')
(8, 'matrix distributed architectures', '1')
(9, 'expedite robust vortals', '3')
(10, 'incubate leading-edge bandwidth', '4')
(11, 'mesh B2C paradigms', '9')
(12, 'incubate e-business users', '3')
(13, 'aggregate dynamic models', '7')
(14, 'morph rich architectures', '9')
(15, 'facilitate plug-and-play systems', '2')
(16, 'generate real-time webservices', '2')
(17, 'repurpose world-class niches', '9')
(18, 'matrix distributed architectures', '1')
(19, 'expedite robust vortals', '3')
(20, 'incubate leading-edge bandwidth', '4')

In [10]:
# fetch data in jobs table
try:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM Jobs;')
    jobs = cursor.fetchall()
    print(cursor.rowcount, " Jobs (rows) fetched")
    for job in jobs:
        print(job)
except mysql.connector.Error as error:
    print("Error Occurred ", error)

20  Jobs (rows) fetched
(1, 'Armstrong Klein', 103, 7129)
(2, 'Roberts Funk and Kovacek', 962, 5986)
(3, 'Haag Gutmann', 424, 6584)
(4, 'Sporer Koelpin and Graham', 961, 4713)
(5, 'Dooley and Sons', 239, 5474)
(6, 'Smitham Mohr and Jast', 233, 4251)
(7, 'Swaniawski Wilkinson and Ritchie', 110, 7554)
(8, 'Aufderhar and Sons', 527, 9489)
(9, 'Mann Ltd', 279, 1146)
(10, 'Fadel LLC', 513, 1761)
(11, 'Armstrong Klein', 103, 7129)
(12, 'Roberts Funk and Kovacek', 962, 5986)
(13, 'Haag Gutmann', 424, 6584)
(14, 'Sporer Koelpin and Graham', 961, 4713)
(15, 'Dooley and Sons', 239, 5474)
(16, 'Smitham Mohr and Jast', 233, 4251)
(17, 'Swaniawski Wilkinson and Ritchie', 110, 7554)
(18, 'Aufderhar and Sons', 527, 9489)
(19, 'Mann Ltd', 279, 1146)
(20, 'Fadel LLC', 513, 1761)

In [11]:
# Join the 3 tables and dispaly data
try:
    cursor = conn.cursor()
    cursor.execute('''
select e.*,d.*,J.* from Employee e inner join
    Department d on d.department_id = e.department_id
inner join Jobs J on e.job_id = J.job_id;
    ''')
    data = cursor.fetchall()
    print(cursor.rowcount, " (rows) fetched")
    for datum in data:
        print(datum)
except mysql.connector.Error as error:
    print("Error Occurred ", error)

40  (rows) fetched
(1, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5', 5, 'facilitate plug-and-play systems', '2', 5, 'Dooley and Sons', 239, 5474)
(2, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4', 4, 'morph rich architectures', '9', 5, 'Dooley and Sons', 239, 5474)
(3, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8', 8, 'matrix distributed architectures', '1', 8, 'Aufderhar and Sons', 527, 9489)
(4, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(5, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3', 3, 'aggregate dynamic models', '7', 9, 'Mann Ltd', 279, 1146)
(6, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5', 5, 'facilitate plug-and-play systems', '2', 2, 'Roberts Funk and Kovacek', 962, 5986)
(7, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9', 9, 'expedite robust vortals', '3', 1, 'Armstrong Klein', 103, 7129)
(8, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(9, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(10, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4', 4, 'morph rich architectures', '9', 4, 'Sporer Koelpin and Graham', 961, 4713)
(11, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5', 5, 'facilitate plug-and-play systems', '2', 5, 'Dooley and Sons', 239, 5474)
(12, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4', 4, 'morph rich architectures', '9', 5, 'Dooley and Sons', 239, 5474)
(13, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8', 8, 'matrix distributed architectures', '1', 8, 'Aufderhar and Sons', 527, 9489)
(14, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(15, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3', 3, 'aggregate dynamic models', '7', 9, 'Mann Ltd', 279, 1146)
(16, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5', 5, 'facilitate plug-and-play systems', '2', 2, 'Roberts Funk and Kovacek', 962, 5986)
(17, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9', 9, 'expedite robust vortals', '3', 1, 'Armstrong Klein', 103, 7129)
(18, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(19, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(20, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4', 4, 'morph rich architectures', '9', 4, 'Sporer Koelpin and Graham', 961, 4713)
(21, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5', 5, 'facilitate plug-and-play systems', '2', 5, 'Dooley and Sons', 239, 5474)
(22, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4', 4, 'morph rich architectures', '9', 5, 'Dooley and Sons', 239, 5474)
(23, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8', 8, 'matrix distributed architectures', '1', 8, 'Aufderhar and Sons', 527, 9489)
(24, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(25, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3', 3, 'aggregate dynamic models', '7', 9, 'Mann Ltd', 279, 1146)
(26, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5', 5, 'facilitate plug-and-play systems', '2', 2, 'Roberts Funk and Kovacek', 962, 5986)
(27, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9', 9, 'expedite robust vortals', '3', 1, 'Armstrong Klein', 103, 7129)
(28, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(29, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(30, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4', 4, 'morph rich architectures', '9', 4, 'Sporer Koelpin and Graham', 961, 4713)
(31, 'Antonette', 'Krajcik', 'frami.tremaine@example.com', '524-330-4576', datetime.datetime(2009, 2, 12, 4, 55, 25), '5', 3, '4', '5', 5, 'facilitate plug-and-play systems', '2', 5, 'Dooley and Sons', 239, 5474)
(32, 'Darrell', 'Quigley', 'keeling.ellsworth@example.org', '880.314.7079x927', datetime.datetime(1985, 4, 29, 7, 30, 10), '5', 6, '7', '4', 4, 'morph rich architectures', '9', 5, 'Dooley and Sons', 239, 5474)
(33, 'Sterling', 'Kshlerin', 'sdouglas@example.net', '02582051463', datetime.datetime(2000, 5, 9, 22, 59, 22), '8', 6, '1', '8', 8, 'matrix distributed architectures', '1', 8, 'Aufderhar and Sons', 527, 9489)
(34, 'Petra', 'Haag', 'celine69@example.net', '666.309.5779', datetime.datetime(1999, 11, 11, 7, 22, 11), '4', 6, '3', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(35, 'Vivienne', 'Ebert', 'ismael86@example.com', '09423295201', datetime.datetime(1974, 8, 2, 1, 19, 26), '9', 6, '8', '3', 3, 'aggregate dynamic models', '7', 9, 'Mann Ltd', 279, 1146)
(36, 'Petra', 'Thiel', 'triston.haag@example.org', '1-767-035-4896x5198', datetime.datetime(2020, 8, 8, 15, 50, 13), '2', 4, '2', '5', 5, 'facilitate plug-and-play systems', '2', 2, 'Roberts Funk and Kovacek', 962, 5986)
(37, 'Zula', 'Bergstrom', 'dbeahan@example.org', '382-001-7383x59947', datetime.datetime(2008, 10, 12, 13, 10, 2), '1', 4, '7', '9', 9, 'expedite robust vortals', '3', 1, 'Armstrong Klein', 103, 7129)
(38, 'Sammie', 'Klein', 'muller.kiara@example.com', '730-482-4076x121', datetime.datetime(2006, 1, 31, 1, 11, 47), '4', 5, '6', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(39, 'Ernestine', 'Koss', 'leonor77@example.net', '(298)256-3267', datetime.datetime(2020, 10, 20, 4, 2, 6), '4', 4, '8', '5', 5, 'facilitate plug-and-play systems', '2', 4, 'Sporer Koelpin and Graham', 961, 4713)
(40, 'Ferne', 'Shields', 'amante@example.net', '04025586949', datetime.datetime(1997, 9, 17, 23, 19, 52), '4', 1, '5', '4', 4, 'morph rich architectures', '9', 4, 'Sporer Koelpin and Graham', 961, 4713)

In [15]:
# insert new employees
employee_data = [
    (91, 'Annabel', 'Nganga', 'Annabel.Nganga@mail.com', '524-330-4576', '2009-02-12 04:55:25', '5', 3000, '4', '5'),
    (92, 'Esther', 'Wambui', 'Esther.Wambui@mail.com', '524-330-4576', '2009-02-12 04:55:25', '5', 5000, '4', '5'),
    (94, 'Migot', 'Ndede', 'Migot.Ndede@mail.com', '524-330-4576', '2009-02-12 04:55:25', '5', 2000, '4', '5'),
]
cursor = conn.cursor()
employee_insert_sql = '''
INSERT INTO `company`.`Employee`
(`employee_id`,
`first_name`,
`last_name`,
`email`,
`phone`,
`hire_date`,
`job_id`,
`salary`,
`manager_id`,
`department_id`)
VALUES
(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
'''
try:
    cursor.executemany(employee_insert_sql, employee_data)
    print(cursor.rowcount, " Records inserted into employee table")
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)
finally:
    pass

3  Records inserted into employee table

In [16]:
# alter employee table add more columns
try:
    cursor.execute('''
    ALTER TABLE `company`.`Employee`
ADD COLUMN `cell_phone` VARCHAR(45) NULL AFTER `department_id`,
ADD COLUMN `physical_address` VARCHAR(45) NULL AFTER `cell_phone`;
    ''')
    print('more columns added')
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)

more columns added

In [17]:
# make changes to tye first name of employee 94
try:
    cursor.execute('''
   update Employee set first_name ='George' where employee_id =94;
    ''')
    print('Employee first name changed successfully')
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)

Employee first name changed successfully

In [18]:
# delete employee 94
try:
    cursor.execute('''
   delete  from Employee where employee_id=94;
    ''')
    print('Employee deleted successfully')
    conn.commit()
except mysql.connector.Error as error:
    print("Error Occurred ", error)

Employee deleted successfully

In [ ]:
# order the records by last name